# Visual Studio
.vs/
*.user
*.suo

# Build Output
bin/
obj/

# SSDT Build Output
*.dbmdl
*.jfm
*.dacpac
*.publish.xml

# SQL Server
*.jfm

# Ignore generated customer datasets
datasets/customer/

# Ignore generated sales datasets
datasets/sales/
