# Visual Studio
.vs/
*.user
*.suo

# Build Output
bin/
obj/

# SSDT Build Output
*.dbmdl
*.jfm
*.dacpac
*.publish.xml

# SQL Server
*.jfm

# Ignore customer data
datasets/customer/*.csv
datasets/customer/*.parquet

# Ignore sales data
datasets/sales/*.csv
datasets/sales/*.parquet
