# Visual Studio
.vs/
*.user
*.suo

# Build Output
bin/
obj/

# SSDT Build Output
*.dbmdl
*.jfm
*.dacpac
*.publish.xml

# SQL Server
*.jfm

# Docker
.env
*.bak
*.trn
*.mdf
*.ndf
*.ldf

# Ignore customer and sales data
datasets/customer/full/**
datasets/sales/full/**

